In [1]:
import pandas as pd

In [13]:
sales_data = {"Person" :["Rajesh","Raju","Pradeep","Amit","Renu","Suresh","Raj","Raju"], "Company" :["CompA","CompA","CompA","CompB","CompB","CompC","CompC","CompA"], "Sales":[250.0,250.0,150.0,340.0,243.0,350.0,250.0], "Age" :[23.0,24.0,25.0,250.0,27.0,24.0,24.0]}

In [14]:
sales_df = pd.DataFrame(sales_data)

ValueError: All arrays must be of the same length

In [9]:
sales_df

    Person Company  Sales    Age
0   Rajesh   CompA  250.0   23.0
1     Raju   CompA  250.0   24.0
2  Pradeep   CompA  150.0   25.0
3     Amit   CompB  340.0  250.0
4     Renu   CompB    0.0    0.0
5   Suresh   CompC  243.0   27.0
6      Raj   CompC  350.0   24.0
7     Raju   CompA  250.0   24.0

check null value

In [11]:
sales_df.isnull()

   Person  Company  Sales    Age
0   False    False  False  False
1   False    False  False  False
2   False    False  False  False
3   False    False  False  False
4   False    False  False  False
5   False    False  False  False
6   False    False  False  False
7   False    False  False  False